@page "/"
@using System.Security.Claims

@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Index</PageTitle>


<AuthorizeView>
    <Authorized>
        @if(user?.IsInRole("admin") == true)
        {
            <span>Admin</span>
        }
        <a href="logout">Logout starten</a>
    </Authorized>
    <NotAuthorized>
        <a href="login">Login starten</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private ClaimsPrincipal? user;

    protected override async Task OnInitializedAsync()
    {
        user = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User;
    }
}